* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/

header {
    background-color: blue;
    padding: 15px;
}

.high-header {
    max-width: 900px;
    margin: 0 auto;
}

.high-header>div {
    background-color: orange;
}

.d-flex {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


.logo,
.login {
    flex-basis: 200px;
    padding: 5px;

}

.link {
    text-align: center;
}

.login {
    text-align: right;
}

[title] {
    border: 1px dashed black;
    margin-top: 15px;
    margin-bottom: 15px;
}

.link {
    flex-basis: 500px;
    padding: 5px;
}

.low-header>div {
    background-color: #EE82EE;
    flex-basis: 700px;
    height: 300px;
}



/*utils*/

.lightblue-box {
    flex-basis: 550px;
    height: 400px;
    background-color: lightblue;

}

.pink-box {
    flex-basis: 350px;
    height: 400px;
    background-color: pink;

}

.description,
.tecnology {
    background-color: lightgray;
}

.line {
    border: 1px solid white;
}

/*main*/

.inverted {
    order: 1;
}

.tech {
    flex-basis: 900px;
    height: 400px;
    background-color: green;
}

/*footer*/

footer {
    background-color: #23272A;
}

.your-place {
    background-color: pink;
    flex-basis: 300px;
    height: 300px;
}

.sm-b {
    background-color: lightblue;
    flex-basis: 150px;
    height: 300px;
}

.a-foot {
    margin: 15px auto;
    width: 900px;
    height: 100px;
    background-color: #7FFFD4;
    justify-content: space-between;
    align-items: center;
}

.last-logo,
.button {
    flex-basis: 100px;
    height: 50px;
    background-color: palevioletred;
    text-align: center;
    vertical-align: 50px;
    line-height: 50px;
}